body {
    margin: 0;
}

header {
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    background-color: lightgray;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .cart-button {
        border: none;
        border-radius: 6px;
        height: 34px;
        width: 90px;
        margin-right: 20px;
    }
}

main {
    margin: 50px 20px;
    display: flex;
    justify-content: center;

    .goods-list {
        flex-flow: row wrap;
        height: 80vh;
        width: 95vw;
        display: flex;
        justify-content: space-evenly;

        .goods-item {
            height: 300px;
            width: 220px;
            border: 1px solid black;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            & > * {
                color: black;
                margin: 8px;
            }
        }
    }

    .form-container {
        width: 400px;
        height: 300px;
        border: 5px double blue;
        display: flex;
        flex-direction: column;
        padding: 15px;
        box-sizing: border-box;

        #feedback-form {
            flex-direction: column;
            width: 100%;
            height: 100%;
            display: flex;

            input {
                padding: 0 10px;
            }
        }

        .invalid {
            border: 2px solid darkred;
        }
    }

    .form-container {
        width: 400px;
        height: 300px;
        border: 5px double blue;
        display: flex;
        flex-direction: column;
        padding: 15px;
        box-sizing: border-box;

        #feedback-form {
            flex-direction: column;
            width: 100%;
            height: 100%;
            display: flex;

            .form-item {
                padding: 5px 0;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.form-btn {
    height: 34px;
    background: blue;
    border-radius: 10px;
    border: none;
    align-self: center;
    width: 150px;
    margin-top: 12px;
    color: white;
}

.modal {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 100px;

    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    left: calc(50% - 300px);
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
